<?xml version="1.0"?>

<model>
  <name>spring_damper_mesh</name>
  <version>1.0</version>
  <!-- <sdf version="1.5">spring_damper_mesh.sdf</sdf> -->
  <sdf version="1.5">spring_damper_mesh.sdf</sdf>

  <author>
    <name>DS3a</name>
    <email>padaladeepesh@gmail.com</email>
  </author>

  <description>
	a closed robot  
</description>
</model>

